@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background: url("http://pre13.deviantart.net/47d0/th/pre/i/2013/126/b/7/science_wizard_s_lab_by_cry_murder-d64cqpd.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
}

.container {
  background: #58A5AE;
  background: rgba(88, 165, 174, 0.8);

  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  border-radius: 25px;
  width: 750px;
  padding: 40px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  color: #E56450;
  text-align: center;
}

.checkbox label {
  padding-right: 15px;
  padding-bottom: 4px;
}


#results {
  display: none;
  margin-bottom: 20px;
}
